%%-*- mode: erlang -*-
{erl_opts, [debug_info]}.
{deps, [
  {webmachine, "1.10.*",
    {git, "git://github.com/basho/webmachine", {tag, "1.10.6"}}},
  {jsx, "2.1.1",
    {git, "git://github.com/talentdeficit/jsx", {tag, "v2.1.1"}}},
  {riakc, "1.4.1",
    {git, "git://github.com/basho/riak-erlang-client", {tag, "1.4.1"}}} 
]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
